<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="このサイトについての概要を載せています。">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <title>About - 加藤純一ライブ情報</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">加藤純一ライブ情報</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <!-- 
        <li class="nav-item">
          <a class="nav-link" href="/news">News</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">通知設定</a>
          </li>
        -->
      </ul>
    </nav>
  </header>

  <main class="container">
    <div class="text-center py-5">
      <div class="about">
        <p>このサイトではゲーム実況者、加藤純一さんの配信状態をリアルタイムで知ることができます。</p>
        <p>Youtube Data API、Twitch APIを用いて３分ごとに配信状態をチェックしています。</p>
        <p>ニコ生は手動で取得しています。</p>
      </div>
      <div class="jk-account">
        <p class="jk-account-intro">加藤純一さんの各アカウントへのリンク</p>
        <p class="account"><a href="https://www.youtube.com/channel/UCx1nAvtVDIsaGmCMSe8ofsQ"
            target="_blank">Youtube</a></p>
        <p class="account"><a href="https://www.twitch.tv/kato_junichi0817" target="_blank">Twitch</a></p>
        <p class="account"><a href="https://ch.nicovideo.jp/unkchanel" target="_blank">ニコ生</a></p>
        <p class="account"><a href="https://twitter.com/unkochan1234567" target="_blank">Twitter</a></p>
      </div>
      <div class="my-account">
        <p class="my-twi-intro">管理者Twitter</p>
        <p><a href="https://twitter.com/Tomcaaaaat0x1" target="_blank">@Tomcaaaaat</a></p>
      </div>
    </div>
  </main>

  <footer class="text-muted py-5">
    <div class="container text-center">
      <p>Copyright (c) 2021 Tomcaaaaat</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
</body>

</html>