a:hover
  text-decoration: none

.about
  margin-bottom: 40px

.jk-account
  margin-bottom: 40px

.jk-account-intro
  margin-bottom: 8px

.account
  margin-bottom: 8px

.my-twi-intro
  margin-bottom: 8px
